<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vivências | {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <section id="main">
	
	<!-- MOBILE -->

	<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	  document.getElementById("myMenu").style.display = "none";

	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	  document.getElementById("myMenu").style.display = "block";

	}
	</script>


	<section class="menuMob visible-sm">
		<a onclick="openNav()" >
		<p id="myMenu" style="margin-top: 40px; "> <b style=" padding-left: 2.2em;
    font-size: 2.5em;
    line-height: 0px;">≡ </b> </p>
		</a>

	</section>
	
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/">home</a>
	  <a href="https://docs.google.com/document/d/1pllCtbWV4cm0xsJm4b9exeCre2UAv5_yNHe4lyk4z_I/edit?usp=sharing"  target="_blank">Projeto Completo</a>
	  <a href="https://forms.gle/cybKpxbyPvoSzyv7A"  target="_blank">Inscrição</a>
	  <a href="https://artur-cabral.com/vivencias-1"  target="_blank">Ediçãov1</a>
	  <a href=""  target="_blank">Ediçãov2</a>


	  


	</div>

	<!-- END-MOBILE -->


	<!-- BIG-SCREEN -->

	
	<header class="mainHeader menu hidden-sm">
	<a href="/"  target="_blank">HOME</a>
	<a href="https://forms.gle/cybKpxbyPvoSzyv7A"  target="_blank">Ficha de Inscrição</a>
		<a href="https://docs.google.com/document/d/1pllCtbWV4cm0xsJm4b9exeCre2UAv5_yNHe4lyk4z_I/edit?usp=sharing"  target="_blank">Projeto Completo</a>
	<a href="https://artur-cabral.com/vivencias-1"  target="_blank">EdiçãoV1</a>
	<a href=""  target="_blank">EdiçãoV2</a>



	</header>
    
   
<content class="content">
	<div class="post">
		<a href="/" ><img src="/images/logo-vive-2.png"></a>


	{{ content }}
	</div>
</content>

 
 <footer class="mainFooter">202X © Box 123  | <a href="https://www.instagram.com/boxb123/" target="_blank">instagram</a>
 </footer>
</section>

</body>
</html>
